* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-container {
    display: flex;
}

div#web-app {
    height: 100%;
}

#hero-side-section {
    justify-content: center;
    flex-direction: column;
    background-image: url(./mohammadreza-alidoost-joQdhwKZlJE-unsplash.jpg);
    background-color: blueviolet;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Yellowtail', cursive;
    flex-basis: 40vw;
}

h1 {
    background: rgba(94, 9, 84, 0.46);
    color: plum;
    text-align: center;
    justify-self: center;
    margin-top: auto;
    font-size: 3.2rem;
}

svg {
    color: plum;
}

#photo-credit {
    color: #eee;
    margin-left: auto;
    margin-top: auto;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #2b2;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

main {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 60vw;
    background: rgba(94, 9, 84, 0.4)
}

p {
    font-size: 1.1rem;
}

form {
    flex-direction: column;
    width: 600px;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 40%;
    font-size: 1.05rem;
    height: 40%;

}

input {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font: 0.85em sans-serif;

    /* Uniform text field size */
    width: 40%;
    height: 40%;

    /* Match form field borders */
    border: 1px solid #999;
}

input:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

input:focus {
    border: 2px solid black;
    box-shadow: 2px 2px navy;
    background-color: rgba(0, 255, 255, 0.15)
}

.form-row {
    display: flex;
    height: 80px;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

button {
    background: rgba(135, 25, 100, 0.9);
    font-weight: bolder;
    font-size: large;
    color: plum;
    border-radius: 5px;
    border: 2px solid white;
    margin-top: 20px;
    padding: 10px;
}